body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

header, footer {
  margin: 1.5% 15% 0% 15%;
  background-color: rgb(201, 201, 201);
  padding: 0.7%;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
}

h2, h3 {
  padding: 0;
  margin: 0.5%;
}

button { padding: 0% 5%; }

p { font-size: 1.25em; }

#buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
  padding: 1%;

}

#books {
  margin: 2% 15% 0% 15%;
  padding: 1%;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.2);
}

.gridArea {
  display: grid;
  grid-template-columns: 1fr 1fr; grid-template-rows: auto;
  grid-template-areas: "bookimage bookinfo";
  grid-gap: 1%;
}

.bookimage {
  margin: auto;
  width: 50%;
}

