

<section id="books">

    <div id="buttons">
        <button *ngFor="let item of myBooks; let i=index" (click)="buttonClick(i)">
            book {{i+1}}
        </button>
    </div>

    <section class="gridArea">

        <div class="bookimage">
            <img src="../../assets/images/{{ currentBook.image }}" alt="{{ currentBook.name }}" width="170">
        </div>
        
        <div class="bookinfo">
            <p> <b>Title:</b> {{ currentBook.name }}</p>
            <p> <b>Author:</b> {{ currentBook.author }}</p>
            <p> <b>Year:</b> {{ currentBook.year }}</p>
            <p> <b>Genre:</b> {{ currentBook.genre }}</p>
        </div>
    
    </section>

</section>

